* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  width: 90% !important;

  margin: auto;
}
.table-responsive {
  max-height: 700px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 25px 50px -12px !important;
}
tr:hover {
  background-color: rgb(224, 224, 207) !important;
}
td,
th {
  position: relative;
}
.table td,
table th {
  padding: 0.75rem !important;
  vertical-align: top;

  border-top: none;
}
.table td {
  font-family: "Noto Sans JP", sans-serif;
}
.table td:nth-child(1) {
  font-family: "Noto Sans JP", sans-serif;
}
td:hover::after,
td:hover::before {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  left: 0;
  top: -5000px;
  height: 5000px;
  width: 100%;
  z-index: -1;
}
.table tr td:hover:nth-child(2) {
  background-color: rgb(221, 113, 136);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}
.table tr td:hover:nth-child(4) {
  background-color: rgb(219, 50, 87);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}
.table tr td:hover {
  background-color: rgb(117, 223, 122);
  color: aliceblue;
  border: 0.5px solid rgb(12, 12, 12);
}

.table-dark {
  font-weight: bold;
  text-transform: uppercase;
}
