.container {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;

  margin: auto;
}
p {
  text-align: center;
}
.g {
  display: grid !important;
  width: 50rem !important;

  grid-gap: 6rem !important;

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) !important;
  align-items: start !important;
}
.g-item {
  background-color: #fff !important;
  border: solid;
  border-radius: 50rem !important;

  overflow: hidden !important;
  box-shadow: 0 3rem 6rem rfba(0, 0, 0, 0.1) !important;
  cursor: pointer !important;
  transition: 0.2s !important;
}
.g-item:hover {
  transform: translateY(-0.5%) !important;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5) !important;
}

.g-item-d:hover {
  transform: translateY(-0.5%) !important;
  background-color: red !important;
}
.g-item-r:hover {
  transform: translateY(-0.5%) !important;
  background-color: green !important;
}
ca-conten {
  padding: 3rem !important;
}
.ca-header {
  font-size: 3rem !important;
  text-align: center;
  font-weight: 500 !important;
  color: #0d0d0d !important;
  margin-bottom: 1.5rem !important;
}
.ca-text {
  font-size: 1.6rem !important;
  letter-spacing: 0.1rem !important;
  line-height: 1.7 !important;
  color: #3d3d3d !important;
  margin-bottom: 2.5rem !important;
}
